<div
    class="base-grid-page"
    fxLayout.gt-md="row"
    fxLayout.lt-md="column"
    fxLayoutAlign="space-evenly stretch"
    fxLayoutAlign.lt-md="center">
    <div fxFlex.gt-sm="50">
        <ngx-docs-example
            title="Base grid: with bindIO"
            [html]="sourceWithBindIO.html"
            [ts]="sourceWithBindIO.ts">
            <div class="body">
                <users-grid-with-bind-io [apiUrl]="apiUrl"></users-grid-with-bind-io>
            </div>
        </ngx-docs-example>
        <ngx-docs-example
            title="Base grid: without auto bind inputs and outputs"
            [html]="source.html"
            [ts]="source.ts">
            <div class="body">
                <users-grid [apiUrl]="apiUrl"></users-grid>
            </div>
        </ngx-docs-example>
    </div>
    <source-tabs
        title="Other files"
        [files]="otherFiles"
        fxFlex.gt-sm="50"></source-tabs>
</div>
