<div class="user-modal">
  <form [formGroup]="form" novalidate>
    <h1 mat-dialog-title>{{ title }}</h1>
    <div
      mat-dialog-content
      [ngClass]="{ 'create-modal': data && !data.id, 'edit-modal': data && data.id, 'delete-modal': !data }"
    >
      <p *ngIf="message">{{ message }}</p>
      <div *ngIf="data">
        <strong>Personal information</strong>
        <div class="padding-top-5">
          <mat-form-field class="full-width">
            <input matInput formControlName="username" [placeholder]="strings.username" />
            <ng-container *ngIf="form?.customValidateErrors">
              <mat-error *ngIf="(form.customValidateErrors | async).username?.length">
                {{ (form.customValidateErrors | async).username.join(', ') }}
              </mat-error>
            </ng-container>
          </mat-form-field>
          <mat-form-field class="full-width">
            <input matInput type="email" formControlName="email" [placeholder]="strings.email" />
            <mat-error *ngIf="(form?.customValidateErrors | async)?.email?.length">
              {{ (form.customValidateErrors | async).email[0] }}
            </mat-error>
          </mat-form-field>
        </div>
        <strong>Roles</strong>
        <div class="padding-top-5" fxLayout="row" fxLayoutAlign="space-between none">
          <mat-checkbox formControlName="isActive">{{ strings.isActive }}</mat-checkbox>
          <mat-checkbox formControlName="isSuperuser">{{ strings.isSuperuser }}</mat-checkbox>
          <mat-checkbox formControlName="isStaff">{{ strings.isStaff }}</mat-checkbox>
        </div>
      </div>
    </div>
    <div mat-dialog-actions>
      <button mat-button (click)="onNoClick()">
        {{ noTitle }}
      </button>
      <button mat-button (click)="onYesClick()" [disabled]="data && !form.valid" cdkFocusInitial>
        {{ yesTitle }}
      </button>
    </div>
  </form>
</div>
