<div
    class="basic-page"
    fxLayout.gt-md="row"
    fxLayout.lt-md="column"
    fxLayoutAlign="space-evenly stretch">
    <ngx-docs-example
        title="Basics: bind input"
        html="<basic-bind-input-parent></basic-bind-input-parent>"
        [ts]="ts['bind-input']"
        fxFlex.gt-sm="50">
        <div class="body">
            <strong>Without auto binding inputs and outputs</strong>
            <pre>&lt;basic-bind-input
    (start)="onRun()"
    [isLoading]="isLoading$ | async"
    [propA]="propA"
    [propB]="propB"&gt;
&lt;/basic-bind-input&gt;</pre>
            <strong>With auto binding inputs</strong>
            <pre>&lt;basic-bind-input
    bindInputs
    (start)="onRun()"&gt;
&lt;/basic-bind-input&gt;</pre>
            <hr>
            <basic-bind-input-parent></basic-bind-input-parent>
        </div>
    </ngx-docs-example>
    <ngx-docs-example
        title="Basics: bind output"
        html="<basic-bind-output-parent></basic-bind-output-parent>"
        [ts]="ts['bind-output']"
        fxFlex.gt-sm="50">
        <div class="body">
            <strong>Without auto binding inputs and outputs</strong>
            <pre>&lt;basic-bind-output
        (start)="onStart()"
        [isLoading]="isLoading$ | async"
        [propA]="propA"&gt;
&lt;/basic-bind-output&gt;</pre>
            <strong>With auto binding outputs</strong>
            <pre>&lt;basic-bind-output
    bindOutputs
    [isLoading]="isLoading$ | async"
    [propA]="propA"&gt;
&lt;/basic-bind-output&gt;</pre>
            <hr>
            <basic-bind-output-parent></basic-bind-output-parent>
        </div>
    </ngx-docs-example>
    <ngx-docs-example
        title="Basics: bind io"
        html="<basic-bind-io-parent></basic-bind-io-parent>"
        [ts]="ts['bind-io']"
        fxFlex.gt-sm="50">
        <div class="body">
            <strong>Without auto binding inputs and outputs</strong>
            <pre>&lt;basic-bind-io
    (start)="onStart()"
    [isLoading]="isLoading$ | async"
    [propA]="propA"
    [propB]="propB"&gt;
&lt;/basic-bind-io&gt;</pre>
            <strong>With auto binding inputs and outputs</strong>
            <pre>&lt;basic-bind-io
    bindIO&gt;
&lt;/basic-bind-io&gt;</pre>
            <hr>
            <basic-bind-io-parent></basic-bind-io-parent>
        </div>
    </ngx-docs-example>
</div>
<div
    class="basic-page"
    fxLayout.gt-md="row"
    fxLayout.lt-md="column"
    fxLayoutAlign="space-evenly stretch">
    <ngx-docs-example
        title="Basics: bind input with exclude"
        html="<basic-bind-input-with-exclude-parent></basic-bind-input-with-exclude-parent>"
        [ts]="ts['bind-input-with-exclude']"
        fxFlex.gt-sm="50">
        <div class="body">
            <strong>Without auto binding inputs and outputs</strong>
            <pre>&lt;basic-bind-input-with-exclude
    (start)="onStart()"
    [isLoading]="isLoading$ | async"
    [propB]="propB"&gt;
&lt;/basic-bind-input-with-exclude&gt;</pre>
            <strong>With auto binding inputs</strong>
            <pre>&lt;basic-bind-input-with-exclude
    bindInputs
    excludeInputs="propA"
    (start)="onStart()"&gt;
&lt;/basic-bind-input-with-exclude&gt;</pre>
            <hr>
            <basic-bind-input-with-exclude-parent></basic-bind-input-with-exclude-parent>
        </div>
    </ngx-docs-example>
    <ngx-docs-example
        title="Basics: bind input with include"
        html="<basic-bind-input-with-include-parent></basic-bind-input-with-include-parent>"
        [ts]="ts['bind-input-with-include']"
        fxFlex.gt-sm="50">
        <div class="body">
            <strong>Without auto binding inputs and outputs</strong>
            <pre>&lt;basic-bind-input-with-include
    (start)="onStart()"
    [isLoading]="isLoading$ | async"
    [propB]="propB"&gt;
&lt;/basic-bind-input-with-include&gt;</pre>
            <strong>With auto binding inputs</strong>
            <pre>&lt;basic-bind-input-with-include
    bindInputs
    [includeInputs]="['propB']"
    (start)="onStart()"
    [isLoading]="isLoading$ | async"&gt;
&lt;/basic-bind-input-with-include&gt;</pre>
            <hr>
            <basic-bind-input-with-include-parent></basic-bind-input-with-include-parent>
        </div>
    </ngx-docs-example>
    <ngx-docs-example
        title="Basics: bind output with click"
        html="<basic-bind-output-with-click-parent></basic-bind-output-with-click-parent>"
        [ts]="ts['bind-output-with-click']"
        fxFlex.gt-sm="50">
        <div class="body">
            <strong>Without auto binding inputs and outputs</strong>
            <pre>&lt;basic-bind-output-with-click
    (start)="onStartClick()"
    [propA]="propA"&gt;
&lt;/basic-bind-output-with-click&gt;</pre>
            <strong>With auto binding outputs</strong>
            <pre>&lt;basic-bind-output-with-click
    bindOutputs
    [propA]="propA"&gt;
&lt;/basic-bind-output-with-click&gt;</pre>
            <hr>
            <basic-bind-output-with-click-parent></basic-bind-output-with-click-parent>
        </div>
    </ngx-docs-example>
</div>
<div
    class="basic-page"
    fxLayout.gt-md="row"
    fxLayout.lt-md="column"
    fxLayoutAlign="space-evenly stretch">
    <ngx-docs-example
        title="Basics: bind output with custom click"
        html="<basic-bind-output-with-custom-click-parent></basic-bind-output-with-custom-click-parent>"
        [ts]="ts['bind-output-with-custom-click']"
        fxFlex.gt-sm="50">
        <div class="body">
            <strong>Without auto binding inputs and outputs</strong>
            <pre>&lt;basic-bind-output-with-custom-click
    (start)="onStartButtonClick()"
    [propA]="propA"&gt;
&lt;/basic-bind-output-with-custom-click&gt;</pre>
            <strong>With auto binding outputs</strong>
            <pre>&lt;basic-bind-output-with-custom-click
    bindOutputs
    [propA]="propA"&gt;
&lt;/basic-bind-output-with-custom-click&gt;</pre>
            <hr>
            <basic-bind-output-with-custom-click-parent></basic-bind-output-with-custom-click-parent>
        </div>
    </ngx-docs-example>
    <ngx-docs-example
        title="Basics: bind input with deep inherits"
        html="<basic-bind-input-with-deep-inherits-parent></basic-bind-input-with-deep-inherits-parent>"
        [ts]="ts['bind-input-with-deep-inherits']"
        fxFlex.gt-sm="50">
        <div class="body">
            <strong>Without auto binding inputs and outputs</strong>
            <pre>&lt;basic-bind-input-with-deep-inherits
    (start)="onStart()"
    [isLoading]="isLoading$ | async"
    [propA]="propA"
    [propB]="propB"&gt;
&lt;/basic-bind-input-with-deep-inherits&gt;</pre>
            <strong>With auto binding outputs</strong>
            <pre>&lt;basic-bind-input-with-deep-inherits
    bindInputs
    (start)="onStart()"&gt;
&lt;/basic-bind-input-with-deep-inherits&gt;</pre>
            <hr>
            <basic-bind-input-with-deep-inherits-parent></basic-bind-input-with-deep-inherits-parent>
        </div>
    </ngx-docs-example>
    <ngx-docs-example
        title="Basics: bind input with mixins (NOT WORK!)"
        html="<basic-bind-io-with-mixins-parent></basic-bind-io-with-mixins-parent>"
        [ts]="ts['bind-io-with-mixins']"
        fxFlex.gt-sm="50">
        <div class="body">
            <strong>Without auto binding inputs and outputs</strong>
            <pre>&lt;basic-bind-io-with-mixins
    (start)="onStart()"
    [isLoading]="isLoading$ | async"
    [propA]="propA"
    [propB]="propB"&gt;
&lt;/basic-bind-io-with-mixins&gt;</pre>
            <strong>With auto binding inputs</strong>
            <pre>&lt;basic-bind-io-with-mixins
    bindIO&gt;
&lt;/basic-bind-io-with-mixins&gt;</pre>
            <hr>
            <basic-bind-io-with-mixins-parent></basic-bind-io-with-mixins-parent>
        </div>
    </ngx-docs-example>
</div>
<div
    class="basic-page"
    fxLayout.gt-md="row"
    fxLayout.lt-md="column"
    fxLayoutAlign="space-evenly stretch">
    <ngx-docs-example
        title="Basics: bind input with on change"
        html="<basic-bind-input-on-change-parent></basic-bind-input-on-change-parent>"
        [ts]="ts['bind-input-on-change']"
        fxFlex.gt-sm="50">
        <div class="body">
            <strong>Without auto binding inputs and outputs</strong>
            <pre>&lt;basic-bind-input-on-change 
    (start)=&quot;onRun()&quot; 
    [isLoading]=&quot;isLoading$ | async&quot; 
    [propA]=&quot;propA&quot; 
    [propB]=&quot;propB&quot;&gt;
&lt;/basic-bind-input-on-change&gt;</pre>
            <strong>With auto binding inputs</strong>
            <pre>&lt;basic-bind-input-on-change 
    bindInputs 
    (start)=&quot;onRun()&quot;&gt;
&lt;/basic-bind-input-on-change&gt;</pre>
            <strong>Options</strong>
            <pre>&lt;input [(ngModel)]=&quot;propA&quot; /&gt;
&lt;input [(ngModel)]=&quot;propB&quot; /&gt;
&lt;button (click)=&quot;loadingWith1500s()&quot;&gt;
    Loading with 1,5s.
&lt;/button&gt;</pre>
            <hr>
            <basic-bind-input-on-change-parent></basic-bind-input-on-change-parent>
        </div>
    </ngx-docs-example>
    <ngx-docs-example
        title="Basics: bind input without onPush"
        html="<basic-bind-input-no-on-push-parent></basic-bind-input-no-on-push-parent>"
        [ts]="ts['bind-input-no-on-push']"
        fxFlex.gt-sm="50">
        <div class="body">
            <strong>Without auto binding inputs and outputs</strong>
            <pre>&lt;basic-bind-input-no-on-push
    (start)=&quot;onRun()&quot;
    [propA]=&quot;propA&quot;
    [propB]=&quot;propB&quot;
#child1&gt;
&lt;/basic-bind-input-no-on-push&gt;</pre>
            <strong>With auto binding inputs</strong>
            <pre>&lt;basic-bind-input-no-on-push
    bindInputs
    (start)=&quot;onRun()&quot;
#child2&gt;
&lt;/basic-bind-input-no-on-push&gt;</pre>
            <strong>Options</strong>
            <pre>&lt;input [(ngModel)]=&quot;propA&quot; /&gt;
&lt;input [(ngModel)]=&quot;propB&quot; /&gt;
&lt;button (click)=&quot;loadingWith1500s()&quot;&gt;
    Loading with 1,5s.
&lt;/button&gt;</pre>
            <hr>
            <basic-bind-input-no-on-push-parent></basic-bind-input-no-on-push-parent>
        </div>
    </ngx-docs-example>
</div>
